# Node modules
**/node_modules/

# Environment variables
.env
**/.env

# Log files
*.log
npm-debug.log*

# Build output
dist/
build/

# OS and IDE specific
.DS_Store
.vscode/
.idea/

# Dependency lock files (optional)
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript build info
*.tsbuildinfo

# Docker override
docker-compose.override.yml
